<h5>Категории</h5>
<ul>
    <li class="filter-item-element {{(category.checked) ? 'checked': ''}}" *ngFor="let category of categories"
        (click)="checkCategory(category)">
        <div class="checkbox">
        </div>
        {{category.name}}
    </li>
</ul>
<div class="custom-margin-top"></div>
<h5>Еще категория</h5>
<ul>
    <li class="filter-item-element {{(category.checked) ? 'checked': ''}}" *ngFor="let category of categories"
        (click)="checkCategory(category)">
        <div class="checkbox">
        </div>
        {{category.name}}
    </li>
</ul>
<button class="custom-button-movili" (click)="applyFilter()">Применить</button>
