.page-padding {
  padding: 16px;
}

.page-padding-bottom-0 {
  padding: 16px 16px 0;
}

.header-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.custom-padding {
  padding: 10px;
}

.custom-padding-top {
  padding-top: 10px;
}

.custom-padding-bottom {
  padding-bottom: 10px;
}

.custom-padding-bottom-large {
  padding-bottom: 70px;
}

.custom-margin-top {
  margin-top: 6vw;
}

.custom-margin-bottom {
  margin-bottom: 10px;
}


.profile-avatar-image {
  height: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

