:host {
  .banner-card {
    background: var(--custom-backgrond-color-movili_gradient);
    border: 1px solid #F2F3F2;
    border-radius: 8px;
    height: 36vw;
  }
  .text-img {
    margin-left: -18px;
    margin-top: -39px;
  }

}
